In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("Eazydiner_data.csv")
df

,hotel,address,ratings,prices,cuisines,offers,Meal_Type
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida | View Al...",4.3,₹ 1800 for two approx.,North Indian,25% Off,Lunch
1,PLATE,"DLF Promenade Mall, Vasant Kunj",4.5,₹ 2500 for two approx.,Multicuisine,25% Off,Lunch
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place | View All...",3.8,₹ 1800 for two approx.,Multicuisine,25% Off,Lunch
3,Qavalli,Worldmark 1 | View All(2) Outlets,4.2,₹ 2000 for two approx.,"Mughlai, North Indian",25% Off,Lunch
4,Marieta,"Two Horizon Center, Golf Course Road",4.3,₹ 2000 for two approx.,"European, Mexican, Asian",25% Off,Lunch
...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",3.0,₹ 1200 for two approx.,Multicuisine,10% Off + 25% Off,Breakfast
7278,Saundarya Garden,"Hinjawadi, Pune",3.1,₹ 1000 for two approx.,"Indian, Multicuisine",15% Off + 25% Off,Breakfast
7279,Beer & Beans,"Baner, Pune",5.0,₹ 1400 for two approx.,Continental,10% Off + 25% Off,Breakfast
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",3.8,₹ 1300 for two approx.,Multicuisine,20% Off + 25% Off,Breakfast
7281,Single Malt & Co.,Hyatt Regency Pune,4.4,₹ 2000 for two approx.,Cocktail Menu,30% Off + 25% Off,Breakfast

In [5]:
df.dtypes

hotel         object
address       object
ratings      float64
prices        object
cuisines      object
offers        object
Meal_Type     object
dtype: object

In [9]:
import re

cities = ['Mumbai', 'Pune', 'Delhi','Noida','Gurgaon','saket','vasant kunj','faridabad','parel','Thane','vashi']


pattern = r'\b(' + '|'.join(map(re.escape, cities)) + r')\b'

df['city'] = df['address'].str.extract(pattern, flags=re.IGNORECASE)

In [10]:
df

,hotel,address,ratings,prices,cuisines,offers,Meal_Type,city
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida | View Al...",4.3,₹ 1800 for two approx.,North Indian,25% Off,Lunch,Noida
1,PLATE,"DLF Promenade Mall, Vasant Kunj",4.5,₹ 2500 for two approx.,Multicuisine,25% Off,Lunch,Vasant Kunj
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place | View All...",3.8,₹ 1800 for two approx.,Multicuisine,25% Off,Lunch,NaN
3,Qavalli,Worldmark 1 | View All(2) Outlets,4.2,₹ 2000 for two approx.,"Mughlai, North Indian",25% Off,Lunch,NaN
4,Marieta,"Two Horizon Center, Golf Course Road",4.3,₹ 2000 for two approx.,"European, Mexican, Asian",25% Off,Lunch,NaN
...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",3.0,₹ 1200 for two approx.,Multicuisine,10% Off + 25% Off,Breakfast,Pune
7278,Saundarya Garden,"Hinjawadi, Pune",3.1,₹ 1000 for two approx.,"Indian, Multicuisine",15% Off + 25% Off,Breakfast,Pune
7279,Beer & Beans,"Baner, Pune",5.0,₹ 1400 for two approx.,Continental,10% Off + 25% Off,Breakfast,Pune
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",3.8,₹ 1300 for two approx.,Multicuisine,20% Off + 25% Off,Breakfast,Pune
7281,Single Malt & Co.,Hyatt Regency Pune,4.4,₹ 2000 for two approx.,Cocktail Menu,30% Off + 25% Off,Breakfast,Pune

In [12]:
df.isna().sum()

hotel           0
address         0
ratings         3
prices          0
cuisines       21
offers          0
Meal_Type       0
city         1590
dtype: int64

In [16]:
df['address'] = df['address'].str.split('|').str[0].str.strip()
df

,hotel,address,ratings,prices,cuisines,offers,Meal_Type,city
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",4.3,₹ 1800 for two approx.,North Indian,25% Off,Lunch,Noida
1,PLATE,"DLF Promenade Mall, Vasant Kunj",4.5,₹ 2500 for two approx.,Multicuisine,25% Off,Lunch,Vasant Kunj
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",3.8,₹ 1800 for two approx.,Multicuisine,25% Off,Lunch,NaN
3,Qavalli,Worldmark 1,4.2,₹ 2000 for two approx.,"Mughlai, North Indian",25% Off,Lunch,NaN
4,Marieta,"Two Horizon Center, Golf Course Road",4.3,₹ 2000 for two approx.,"European, Mexican, Asian",25% Off,Lunch,NaN
...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",3.0,₹ 1200 for two approx.,Multicuisine,10% Off + 25% Off,Breakfast,Pune
7278,Saundarya Garden,"Hinjawadi, Pune",3.1,₹ 1000 for two approx.,"Indian, Multicuisine",15% Off + 25% Off,Breakfast,Pune
7279,Beer & Beans,"Baner, Pune",5.0,₹ 1400 for two approx.,Continental,10% Off + 25% Off,Breakfast,Pune
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",3.8,₹ 1300 for two approx.,Multicuisine,20% Off + 25% Off,Breakfast,Pune
7281,Single Malt & Co.,Hyatt Regency Pune,4.4,₹ 2000 for two approx.,Cocktail Menu,30% Off + 25% Off,Breakfast,Pune

In [17]:
df['prices'] = (
    df['prices']
    .astype(str)
    .str.replace(r'\D', '', regex=True)
    .replace('', pd.NA)
    .astype('Int64')
)

In [18]:
df

,hotel,address,ratings,prices,cuisines,offers,Meal_Type,city
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",4.3,1800,North Indian,25% Off,Lunch,Noida
1,PLATE,"DLF Promenade Mall, Vasant Kunj",4.5,2500,Multicuisine,25% Off,Lunch,Vasant Kunj
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",3.8,1800,Multicuisine,25% Off,Lunch,NaN
3,Qavalli,Worldmark 1,4.2,2000,"Mughlai, North Indian",25% Off,Lunch,NaN
4,Marieta,"Two Horizon Center, Golf Course Road",4.3,2000,"European, Mexican, Asian",25% Off,Lunch,NaN
...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",3.0,1200,Multicuisine,10% Off + 25% Off,Breakfast,Pune
7278,Saundarya Garden,"Hinjawadi, Pune",3.1,1000,"Indian, Multicuisine",15% Off + 25% Off,Breakfast,Pune
7279,Beer & Beans,"Baner, Pune",5.0,1400,Continental,10% Off + 25% Off,Breakfast,Pune
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",3.8,1300,Multicuisine,20% Off + 25% Off,Breakfast,Pune
7281,Single Malt & Co.,Hyatt Regency Pune,4.4,2000,Cocktail Menu,30% Off + 25% Off,Breakfast,Pune

In [19]:
cols = list(df.columns)
cols.insert(2, cols.pop(cols.index('city')))  # move to index 2
df = df[cols]
df

,hotel,address,city,ratings,prices,cuisines,offers,Meal_Type
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,25% Off,Lunch
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,25% Off,Lunch
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,25% Off,Lunch
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",25% Off,Lunch
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",25% Off,Lunch
...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,10% Off + 25% Off,Breakfast
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",15% Off + 25% Off,Breakfast
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,10% Off + 25% Off,Breakfast
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,20% Off + 25% Off,Breakfast
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,30% Off + 25% Off,Breakfast

In [20]:
df.insert(
    df.columns.get_loc('offers') + 1,
    'online payment offer',
    df['offers'].str.split('+').str[-1].str.strip()
)
df

,hotel,address,city,ratings,prices,cuisines,offers,online payment offer,Meal_Type
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,25% Off,25% Off,Lunch
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,25% Off,25% Off,Lunch
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,25% Off,25% Off,Lunch
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",25% Off,25% Off,Lunch
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",25% Off,25% Off,Lunch
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,10% Off + 25% Off,25% Off,Breakfast
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",15% Off + 25% Off,25% Off,Breakfast
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,10% Off + 25% Off,25% Off,Breakfast
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,20% Off + 25% Off,25% Off,Breakfast
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,30% Off + 25% Off,25% Off,Breakfast

In [21]:
df.drop("online payment offer",axis = 1,inplace = True)
df

,hotel,address,city,ratings,prices,cuisines,offers,Meal_Type
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,25% Off,Lunch
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,25% Off,Lunch
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,25% Off,Lunch
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",25% Off,Lunch
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",25% Off,Lunch
...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,10% Off + 25% Off,Breakfast
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",15% Off + 25% Off,Breakfast
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,10% Off + 25% Off,Breakfast
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,20% Off + 25% Off,Breakfast
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,30% Off + 25% Off,Breakfast

In [22]:
# split offers using +
split_offers = df['offers'].str.split(r'\+', expand=True)

# add second offer to new column
df['online_payment_offer'] = split_offers[1].str.strip()

# keep only first offer in original column
df['offers'] = split_offers[0].str.strip()

df

,hotel,address,city,ratings,prices,cuisines,offers,Meal_Type,online_payment_offer
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,25% Off,Lunch,None
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,25% Off,Lunch,None
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,25% Off,Lunch,None
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",25% Off,Lunch,None
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",25% Off,Lunch,None
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,10% Off,Breakfast,25% Off
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",15% Off,Breakfast,25% Off
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,10% Off,Breakfast,25% Off
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,20% Off,Breakfast,25% Off
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,30% Off,Breakfast,25% Off

In [23]:
cols = list(df.columns)
cols.insert(7, cols.pop(cols.index('online_payment_offer')))  # move to index 2
df = df[cols]
df

,hotel,address,city,ratings,prices,cuisines,offers,online_payment_offer,Meal_Type
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,25% Off,None,Lunch
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,25% Off,None,Lunch
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,25% Off,None,Lunch
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",25% Off,None,Lunch
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",25% Off,None,Lunch
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,10% Off,25% Off,Breakfast
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",15% Off,25% Off,Breakfast
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,10% Off,25% Off,Breakfast
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,20% Off,25% Off,Breakfast
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,30% Off,25% Off,Breakfast

In [24]:
cols = list(df.columns)
cols.insert(6, cols.pop(cols.index("Meal_Type")))  # move to index 2
df = df[cols]
df

,hotel,address,city,ratings,prices,cuisines,Meal_Type,offers,online_payment_offer
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,Lunch,25% Off,None
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,Lunch,25% Off,None
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,Lunch,25% Off,None
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",Lunch,25% Off,None
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",Lunch,25% Off,None
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,Breakfast,10% Off,25% Off
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",Breakfast,15% Off,25% Off
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,Breakfast,10% Off,25% Off
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,Breakfast,20% Off,25% Off
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,Breakfast,30% Off,25% Off

In [25]:
df['online_payment_offer'] = df['online_payment_offer'].fillna('No Offer')
df

,hotel,address,city,ratings,prices,cuisines,Meal_Type,offers,online_payment_offer
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,Lunch,25% Off,No Offer
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,Lunch,25% Off,No Offer
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,Lunch,25% Off,No Offer
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",Lunch,25% Off,No Offer
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",Lunch,25% Off,No Offer
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,Breakfast,10% Off,25% Off
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",Breakfast,15% Off,25% Off
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,Breakfast,10% Off,25% Off
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,Breakfast,20% Off,25% Off
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,Breakfast,30% Off,25% Off

In [28]:
df.dtypes

hotel                    object
address                  object
city                     object
ratings                 float64
prices                    Int64
cuisines                 object
Meal_Type                object
offers                   object
online_payment_offer     object
dtype: object

In [29]:
df = df.rename(columns={'offers': 'Restaurant_offers'})
df

,hotel,address,city,ratings,prices,cuisines,Meal_Type,Restaurant_offers,online_payment_offer
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,Lunch,25% Off,No Offer
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,Lunch,25% Off,No Offer
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,Lunch,25% Off,No Offer
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",Lunch,25% Off,No Offer
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",Lunch,25% Off,No Offer
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,Breakfast,10% Off,25% Off
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",Breakfast,15% Off,25% Off
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,Breakfast,10% Off,25% Off
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,Breakfast,20% Off,25% Off
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,Breakfast,30% Off,25% Off

In [30]:
df = df.rename(columns={'online_payment_offer': 'Online_payment_offers'})
df

,hotel,address,city,ratings,prices,cuisines,Meal_Type,Restaurant_offers,Online_payment_offers
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,Lunch,25% Off,No Offer
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,Lunch,25% Off,No Offer
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,Lunch,25% Off,No Offer
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",Lunch,25% Off,No Offer
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",Lunch,25% Off,No Offer
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,Breakfast,10% Off,25% Off
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",Breakfast,15% Off,25% Off
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,Breakfast,10% Off,25% Off
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,Breakfast,20% Off,25% Off
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,Breakfast,30% Off,25% Off

In [31]:
df.isna().sum()

hotel                       0
address                     0
city                     1590
ratings                     3
prices                      0
cuisines                   21
Meal_Type                   0
Restaurant_offers           0
Online_payment_offers       0
dtype: int64

In [33]:
df['cuisines'] = df['cuisines'].ffill()
df

,hotel,address,city,ratings,prices,cuisines,Meal_Type,Restaurant_offers,Online_payment_offers
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,Lunch,25% Off,No Offer
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,Lunch,25% Off,No Offer
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,Lunch,25% Off,No Offer
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",Lunch,25% Off,No Offer
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",Lunch,25% Off,No Offer
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,Breakfast,10% Off,25% Off
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",Breakfast,15% Off,25% Off
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,Breakfast,10% Off,25% Off
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,Breakfast,20% Off,25% Off
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,Breakfast,30% Off,25% Off

In [38]:
df['Restaurant_offers'] = df['Restaurant_offers'].str.extract(r'(\d+)')
df

,hotel,address,city,ratings,prices,cuisines,Meal_Type,Restaurant_offers,Online_payment_offers
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,Lunch,25,No Offer
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,Lunch,25,No Offer
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,Lunch,25,No Offer
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",Lunch,25,No Offer
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",Lunch,25,No Offer
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,Breakfast,10,25% Off
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",Breakfast,15,25% Off
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,Breakfast,10,25% Off
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,Breakfast,20,25% Off
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,Breakfast,30,25% Off

In [40]:
df['Online_payment_offers'] = df['Online_payment_offers'].str.extract(r'(\d+)')
df

,hotel,address,city,ratings,prices,cuisines,Meal_Type,Restaurant_offers,Online_payment_offers
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,Lunch,25,NaN
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,Lunch,25,NaN
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,Lunch,25,NaN
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",Lunch,25,NaN
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",Lunch,25,NaN
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,Breakfast,10,25
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",Breakfast,15,25
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,Breakfast,10,25
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,Breakfast,20,25
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,Breakfast,30,25

In [41]:
df.isna().sum()

hotel                       0
address                     0
city                     1590
ratings                     3
prices                      0
cuisines                    0
Meal_Type                   0
Restaurant_offers          64
Online_payment_offers     874
dtype: int64

In [43]:
df['Online_payment_offers'] = df['Online_payment_offers'].fillna('No Offer')
df

,hotel,address,city,ratings,prices,cuisines,Meal_Type,Restaurant_offers,Online_payment_offers
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,Lunch,25,No Offer
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,Lunch,25,No Offer
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,Lunch,25,No Offer
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",Lunch,25,No Offer
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",Lunch,25,No Offer
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,Breakfast,10,25
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",Breakfast,15,25
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,Breakfast,10,25
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,Breakfast,20,25
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,Breakfast,30,25

In [44]:
df['Restaurant_offers'] = df['Restaurant_offers'].fillna('No Offer')
df

,hotel,address,city,ratings,prices,cuisines,Meal_Type,Restaurant_offers,Online_payment_offers
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,Lunch,25,No Offer
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,Lunch,25,No Offer
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,Lunch,25,No Offer
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",Lunch,25,No Offer
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",Lunch,25,No Offer
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,Breakfast,10,25
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",Breakfast,15,25
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,Breakfast,10,25
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,Breakfast,20,25
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,Breakfast,30,25

In [45]:
df.isna().sum()

hotel                       0
address                     0
city                     1590
ratings                     3
prices                      0
cuisines                    0
Meal_Type                   0
Restaurant_offers           0
Online_payment_offers       0
dtype: int64

In [47]:
df['ratings'] = df['ratings'].fillna(df['ratings'].mean())
df

,hotel,address,city,ratings,prices,cuisines,Meal_Type,Restaurant_offers,Online_payment_offers
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,Lunch,25,No Offer
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,Lunch,25,No Offer
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,Lunch,25,No Offer
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",Lunch,25,No Offer
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",Lunch,25,No Offer
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,Breakfast,10,25
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",Breakfast,15,25
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,Breakfast,10,25
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,Breakfast,20,25
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,Breakfast,30,25

In [48]:
df.isna().sum()

hotel                       0
address                     0
city                     1590
ratings                     0
prices                      0
cuisines                    0
Meal_Type                   0
Restaurant_offers           0
Online_payment_offers       0
dtype: int64

In [49]:
df.dtypes

hotel                     object
address                   object
city                      object
ratings                  float64
prices                     Int64
cuisines                  object
Meal_Type                 object
Restaurant_offers         object
Online_payment_offers     object
dtype: object

In [58]:
df['Online_payment_offers'].max()

'No Offer'

In [59]:
df = df.rename(columns={'online_payment_offer': 'Online_payment_offer_percentage'})
df

,hotel,address,city,ratings,prices,cuisines,Meal_Type,Restaurant_offers,Online_payment_offers
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,Lunch,25,No Offer
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,Lunch,25,No Offer
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,Lunch,25,No Offer
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",Lunch,25,No Offer
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",Lunch,25,No Offer
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,Breakfast,10,25
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",Breakfast,15,25
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,Breakfast,10,25
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,Breakfast,20,25
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,Breakfast,30,25

In [60]:
df = df.rename(columns={'Restaurant_offers': 'Restaurant_offer_percentage'})
df

,hotel,address,city,ratings,prices,cuisines,Meal_Type,Restaurant_offer_percentage,Online_payment_offers
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,Lunch,25,No Offer
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,Lunch,25,No Offer
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,Lunch,25,No Offer
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",Lunch,25,No Offer
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",Lunch,25,No Offer
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,Breakfast,10,25
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",Breakfast,15,25
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,Breakfast,10,25
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,Breakfast,20,25
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,Breakfast,30,25

In [64]:
df = df.rename(columns={'Online_payment_offers': 'Online_payment_offer_percentage'})
df

,hotel,address,city,ratings,prices,cuisines,Meal_Type,Restaurant_offer_percentage,Online_payment_offer_percentage
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,Lunch,25,No Offer
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,Lunch,25,No Offer
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,Lunch,25,No Offer
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",Lunch,25,No Offer
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",Lunch,25,No Offer
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,Breakfast,10,25
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",Breakfast,15,25
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,Breakfast,10,25
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,Breakfast,20,25
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,Breakfast,30,25

In [61]:
df['Restaurant_offer_percentage'] = df['Restaurant_offer_percentage'].replace('No Offer', '00')
df

,hotel,address,city,ratings,prices,cuisines,Meal_Type,Restaurant_offer_percentage,Online_payment_offers
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,Lunch,25,No Offer
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,Lunch,25,No Offer
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,Lunch,25,No Offer
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",Lunch,25,No Offer
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",Lunch,25,No Offer
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,Breakfast,10,25
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",Breakfast,15,25
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,Breakfast,10,25
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,Breakfast,20,25
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,Breakfast,30,25

In [65]:
df['Online_payment_offer_percentage'] = df['Online_payment_offer_percentage'].replace('No Offer', '00')
df

,hotel,address,city,ratings,prices,cuisines,Meal_Type,Restaurant_offer_percentage,Online_payment_offer_percentage
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,Lunch,25,00
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,Lunch,25,00
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,Lunch,25,00
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",Lunch,25,00
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",Lunch,25,00
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,Breakfast,10,25
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",Breakfast,15,25
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,Breakfast,10,25
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,Breakfast,20,25
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,Breakfast,30,25

In [67]:
df['Restaurant_offer_percentage'].max()

'60'

In [68]:
df = df.rename(columns={'hotel': 'Restaurants'})
df

,Restaurants,address,city,ratings,prices,cuisines,Meal_Type,Restaurant_offer_percentage,Online_payment_offer_percentage
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,Lunch,25,00
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,Lunch,25,00
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,Lunch,25,00
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",Lunch,25,00
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",Lunch,25,00
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,Breakfast,10,25
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",Breakfast,15,25
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,Breakfast,10,25
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,Breakfast,20,25
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,Breakfast,30,25

In [69]:
df.to_csv("Eazydiner_cleaned_data.csv",index = False)
df

,Restaurants,address,city,ratings,prices,cuisines,Meal_Type,Restaurant_offer_percentage,Online_payment_offer_percentage
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,Lunch,25,00
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,Lunch,25,00
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,Lunch,25,00
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",Lunch,25,00
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",Lunch,25,00
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,Breakfast,10,25
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",Breakfast,15,25
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,Breakfast,10,25
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,Breakfast,20,25
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,Breakfast,30,25

In [6]:
df.isna().sum()

hotel         0
address       0
ratings       3
prices        0
cuisines     21
offers        0
Meal_Type     0
dtype: int64

In [7]:
df.dtypes

hotel         object
address       object
ratings      float64
prices        object
cuisines      object
offers        object
Meal_Type     object
dtype: object

In [9]:
df = pd.read_csv("Eazydiner_cleaned_data.csv")
df

,Restaurants,address,city,ratings,prices,cuisines,Meal_Type,Restaurant_offer_percentage,Online_payment_offer_percentage
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,Lunch,25,0
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,Lunch,25,0
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,Lunch,25,0
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",Lunch,25,0
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",Lunch,25,0
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,Breakfast,10,25
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",Breakfast,15,25
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,Breakfast,10,25
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,Breakfast,20,25
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,Breakfast,30,25

In [10]:
df['city'] = df['city'].replace('PUNE', 'Pune')
df

,Restaurants,address,city,ratings,prices,cuisines,Meal_Type,Restaurant_offer_percentage,Online_payment_offer_percentage
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,Lunch,25,0
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,Lunch,25,0
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,Lunch,25,0
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",Lunch,25,0
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",Lunch,25,0
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,Breakfast,10,25
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",Breakfast,15,25
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,Breakfast,10,25
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,Breakfast,20,25
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,Breakfast,30,25

In [11]:
df['city'] = df['city'].replace('pune', 'Pune')
df

,Restaurants,address,city,ratings,prices,cuisines,Meal_Type,Restaurant_offer_percentage,Online_payment_offer_percentage
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,Lunch,25,0
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,Lunch,25,0
2,Birch by Romeo Lane,"Pacific Mall, Netaji Subhash Place",NaN,3.8,1800,Multicuisine,Lunch,25,0
3,Qavalli,Worldmark 1,NaN,4.2,2000,"Mughlai, North Indian",Lunch,25,0
4,Marieta,"Two Horizon Center, Golf Course Road",NaN,4.3,2000,"European, Mexican, Asian",Lunch,25,0
...,...,...,...,...,...,...,...,...,...
7277,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,Breakfast,10,25
7278,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",Breakfast,15,25
7279,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,Breakfast,10,25
7280,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,Breakfast,20,25
7281,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,Breakfast,30,25

In [14]:
df = pd.read_csv("Eazydiner_final_data.csv")
df

,Restaurants,address,city,ratings,prices,cuisines,Meal_Type,Restaurant_offer_percentage,Online_payment_offer_percentage
0,Daryaganj - By The Inventors Of Butter Chicken...,"DLF Mall of India, Sector 18, Noida",Noida,4.3,1800,North Indian,Lunch,25,0
1,PLATE,"DLF Promenade Mall, Vasant Kunj",Vasant Kunj,4.5,2500,Multicuisine,Lunch,25,0
2,Zing,"The Metropolitan Hotel & Spa, New Delhi",Delhi,1.0,3500,Multicuisine,Lunch,25,25
3,Fifty9,"Radisson Blu Marina, New Delhi",Delhi,4.4,2500,Multicuisine,Lunch,35,25
4,Hard Rock Cafe,"Connaught Place (CP), Central Delhi",Delhi,4.0,1500,Multicuisine,Lunch,35,25
...,...,...,...,...,...,...,...,...,...
5687,Narrative,"Mundhwa, Pune",Pune,3.0,1200,Multicuisine,Breakfast,10,25
5688,Saundarya Garden,"Hinjawadi, Pune",Pune,3.1,1000,"Indian, Multicuisine",Breakfast,15,25
5689,Beer & Beans,"Baner, Pune",Pune,5.0,1400,Continental,Breakfast,10,25
5690,Escada - All Day Kitchen & Bar,"Viman Nagar, Pune",Pune,3.8,1300,Multicuisine,Breakfast,20,25
5691,Single Malt & Co.,Hyatt Regency Pune,Pune,4.4,2000,Cocktail Menu,Breakfast,30,25

In [15]:
df.isna().sum()

Restaurants                        0
address                            0
city                               0
ratings                            0
prices                             0
cuisines                           0
Meal_Type                          0
Restaurant_offer_percentage        0
Online_payment_offer_percentage    0
dtype: int64